{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/visiteur/login.css')}}">
<link rel="stylesheet" href="{{asset('css/visiteur/accueil.css')}}">
{% endblock %}


{% block body %}

{% include "include/_navbar.html.twig" %}

    <form method="post" class="mt-2">
        <fieldset>
            <div class="container">
                <div class="row" id="center">
                    <div class="col-sm-6 col-md-6 col-lg-8">

                        {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                        {% endif %}

                        {% if app.user %}
                        <div class="mb-4">
                            Vous êtes connecté {{ app.user.username }}, <a
                                href="{{ path('app_logout') }}">Déconnexion</a>
                        </div>
                        {% endif %}


                        <h1 class="h3 mb-4 font-weight-normal text-center" class="form-label">Connectez-vous !</h1>
                        <div class="mb-4">
                            <label for="inputEmail">Email :</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                class="form-control" required autofocus>
                        </div>
                        <div class="mb-4">
                            <label class="form-label" for="inputPassword">Mot de passe :</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" required>
                        </div>



                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me
                        functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                        #}

                        <div class='text-center'>

                            <button class="btn btn-lg btn-primary" type="submit">
                                Connexion
                            </button>

                            <div class="mt-2">
                                <p><a class="mt-1" href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a>
                                </p>
                            </div>

                            <div class="text-center">
                                <p> <a href="{{path("accueil")}}" class="btn btn-lg btn-dark">Retour</a></p>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </fieldset>
    </form>


{% endblock %}