<h1>Confirmez votre courriel !</h1>

<p>
    Veuillez confirmer votre adresse électronique en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon courriel</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cordialement 
</p>
