{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/visiteur/login.css')}}">
<link rel="stylesheet" href="{{asset('css/visiteur/accueil.css')}}">
{% endblock %}

{% block body %}
{% include "include/_navbar.html.twig" %}

{% for flashError in app.flashes('verify_email_error') %}
<div class="alert alert-danger" role="alert">{{ flashError }}</div>
{% endfor %}

<h1 class="h1 text-center">Formulaire d'inscription</h1>

{# {{ dump(registrationForm.conferencier) }} #}



<div class="container">
    <div class="row" id="formRegister">
        <div class="col-sm-6 col-md-6 col-lg-8">

            {{ form_start(registrationForm) }}

            <div class="form-group">
                <label class="custom-control-label" for="nom">Nom :</label>
                {{ form_widget(registrationForm.conferencier.nom, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(registrationForm.conferencier.nom) }} 
            </div>
            <div class="form-group">
                <label class="custom-control-label" for="nom">Prénom :</label>
                {{ form_widget(registrationForm.conferencier.prenom, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(registrationForm.conferencier.prenom) }}
            </div>
            <div class="form-group date">
                <label class="custom-control-label" for="nom">Date de naissance :</label>
                {{ form_widget(registrationForm.conferencier.date_naissance, { 'attr': {'class': 'date'} }) }}
                {{ form_errors(registrationForm.conferencier.date_naissance) }}
            </div>

            <div class="form-group">
                <label class="custom-control-label" for="nom">Votre email :</label>
                {{ form_widget(registrationForm.email, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(registrationForm.email) }}
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 col-form-label">Mot de passe :</label>
                {{ form_widget(registrationForm.plainPassword.first, {
                'attr': {'class': 'form-control'}
                }) }}
                {{ form_errors(registrationForm.plainPassword.first) }}
            </div>
            <div class="form-group">
                <label class="custom-control-label" for="nom">Confirmez votre mot de passe :</label>
                {{ form_widget(registrationForm.plainPassword.second, {
                'attr': {'class': 'form-control'}
                }) }}
                {{ form_errors(registrationForm.plainPassword.second) }}                
            </div>
            <div class="custom-control custom-checkbox text-center">
                <label class="custom-control-label" for="nom">Cocher la case pour valider l'inscription :</label>
                {{ form_widget(registrationForm.agreeTerms, { 'attr': {'class': "custom-control-input"} }) }}
                {{ form_errors(registrationForm.agreeTerms) }}
            </div>

            <div class="text-center m-2">
                <button type="submit" class="btn btn-primary">Inscription</button>
                {{ form_end(registrationForm) }}
            </div>

        </div>
    </div>
</div>

{% endblock %}