<form method="post" action="{{ path('supprimer_compte', {'id': conferencier.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer votre compte?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ conferencier.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>


