<div class="container">
    <div class="row bg-white rounded m-2" id="formPlace">
        <div class="col-sm-6 col-md-6 col-lg-8">
            {{ form_start(form) }}

            <div class="form-group">
                <label class="custom-control-label" for="nom">Nom :</label>
                {{ form_widget(form.nom, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.nom) }}
            </div>
            <div class="form-group">
                <label class="custom-control-label" for="nom">Prénom :</label>
                {{ form_widget(form.prenom, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.prenom) }}
            </div>

            <div class="form-group date">
                <label class="custom-control-label" for="nom">Date de naissance :</label>
                {{ form_widget(form.date_naissance, { 'attr': {'class': 'date'} }) }}
                {{ form_errors(form.date_naissance) }}
            </div>

            <div class="text-center">
                <button class="btn bg-success text-white m-2">{{ button_label|default('Save') }}</button>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
</div>