{% extends 'base.html.twig' %}

{% block title %}Edit Conferencier{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href={{ asset("css/profil/profil.css") }}>
{% endblock %}

{% block body %}

{% include "include/_navProfil.html.twig" %}

    <h1 class="text-center h1">Modifier vos informations personnelles</h1>

    {{ include('profil/profil_conferencier/_form.html.twig', {'button_label': 'Modifier'}) }}

    <div class="text-center">
    <a class="btn btn-lg btn-danger" href="{{ path('profil_conferencier_index') }}">Retour à la liste</a>
    </div>
    
{% endblock %}
