{% extends 'base.html.twig' %}

{% block title %}Conferencier accueil{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href={{ asset("css/profil/profil.css") }}>
{% endblock %}

{% block body %}
{% include "include/_navProfil.html.twig" %}
<div class="mb-2">
    <h1 class="text-center h1">Vos informations</h1>
</div>
<div class="table-responsive d-flex justify-content-center">
    <table class="table table-bordered border-primary w-75">
        <thead>
            <tr>                
                <th>Nom</th>
                <th class="cacher">Prenom</th>                
                <th>Voir plus</th>
                <th>Modifier</th>
                <th>Supprimer votre compte</th>
            </tr>
        </thead>
        <tbody>

        
            <tr>
            
                
                <td>{{ conferencier.nom }}</td>
                <td class="cacher">{{ conferencier.prenom }}</td>
                
                <td>
                    <a class="bg-dark rounded btnCustom" href="{{ path('profil_conferencier_show', {'id': conferencier.id}) }}">Détail</a>
                </td>
                <td>
                    <a class="bg-dark rounded btnCustom" href="{{ path('profil_conferencier_edit', {'id': conferencier.id}) }}">Modifier</a>
                </td>
                <td>
                    {{ include('profil/profil_conferencier/_delete_form.html.twig', {'button_label': 'Supprimer'}) }}                    
                </td>
            </tr>

        </tbody>
    </table>
</div>

    <div class="text-center">
        <a href="{{path("profil_index")}}" class="btn btn-lg btn-danger">Retour au tableau de bord</a>
    </div>
    
{% endblock %}
