{% extends 'base.html.twig' %}

{% block title %}Conferencier{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href={{ asset("css/profil/profil.css") }}>
{% endblock %}

{% block body %}
{% include "include/_navProfil.html.twig" %}

    <h1 class="text-center h1 mb-2">Vos informations personnelles en détail</h1>

<div class="table-responsive d-flex justify-content-center">
    <table class="table table-bordered border-primary w-75">
        <tbody>
        
            <tr>
                <th>Nom</th>
                <td>{{ conferencier.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ conferencier.prenom }}</td>
            </tr>
            <tr>
                <th>Date_naissance</th>
                <td>{{ conferencier.dateNaissance ? conferencier.dateNaissance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Modifier vos informations</th>
                <td><a class="bg-dark rounded btnCustom" href="{{ path('profil_conferencier_edit', {'id': conferencier.id}) }}">Modifier</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
    
    <div class="text-center"><a class="btn btn-lg btn-danger" href="{{ path('profil_conferencier_index') }}">Retour</a></div>


    
{% endblock %}
