{% extends 'base.html.twig' %}

{% block title %}Envoi du mail de réinitialisation du mot de passe{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/visiteur/accueil.css')}}">
{% endblock %}

{% block body %}


<div class="container">
    <div class="row recentrer mt-3">
        <div class="col-sm-6 col-md-6 col-lg-8">
            <p class='text-center mt-3'>
                Un courriel a été envoyé contenant un lien sur lequel vous pouvez cliquer pour réinitialiser votre mot de passe.
                Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
            </p>
            <p class='text-center'>Si vous ne recevez pas d'e-mail, vérifiez votre dossier de courrier indésirable (spam) ou votre adresse e-mail. <a href="{{ path('app_forgot_password_request') }}">réessayer</a>.</p>
            <div class="text-center">
                <a href="{{path("accueil")}}" class="btn btn-lg btn-danger">Retour à l'accueil</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

