{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/visiteur/accueil.css')}}">
{% endblock %}

{% block body %}
{% include "include/_navbar.html.twig" %}


{% for flashError in app.flashes('reset_password_error') %}
<div class="alert alert-danger" role="alert">{{ flashError }}</div>
{% endfor %}
<div class="container">
    <div class="row recentrer">
        <div class="col-sm-6 col-md-6 col-lg-8">

            <h1 class="h1 text-center">Réinitialiser votre mot de passe</h1>

            {{ form_start(requestForm) }}
            <div class="form-group">
                <label class="custom-control-label" for="nom">Votre email :</label>
                {{ form_widget(requestForm.email, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(requestForm.email) }}
            </div>
            <div>
                <strong>
                    Saisissez votre adresse électronique et nous vous enverrons un lien pour réinitialiser votre mot de
                    passe.
                </strong>
            </div>
            <div class="text-center mt-2">
                <button class="btn btn-primary">Envoyer un courriel de réinitialisation</button>

            </div>
            {{ form_end(requestForm) }}
        </div>
    </div>
</div>
{% endblock %}
