{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/visiteur/accueil.css')}}">
{% endblock %}

{% block body %}
{% include "include/_navbar.html.twig" %}


<div class="container">
    <div class="row recentrer">
        <div class="col-sm-8 col-md-8 col-lg-9">

            <h1 class="h1 text-center">Réinitialiser votre mot de passe</h1>
            {{ form_start(resetForm) }}
            <div class="form-group">
                <label for="" class="col-sm-2 col-form-label">Mot de passe :</label>
                {{ form_widget(resetForm.plainPassword.first, {
                'attr': {'class': 'form-control'}
                }) }}
                {{ form_errors(resetForm.plainPassword.first) }}
            </div>
            <div class="form-group">
                <label class="custom-control-label" for="nom">Confirmez votre mot de passe :</label>
                {{ form_widget(resetForm.plainPassword.second, {
                'attr': {'class': 'form-control'}
                }) }}
                {{ form_errors(resetForm.plainPassword.second) }}
            </div>
            <div class='text-center mt-2'>
                <button class="btn btn-primary text-center">Valider</button>
            </div>
            {{ form_end(resetForm) }}

        </div>
    </div>
</div>
{% endblock %}