{% extends 'base.html.twig' %}

{% block title %}Rajouter un thème{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href={{ asset("css/admin/admin.css") }}>
{% endblock %}

{% block body %}
{% include "include/_navAdmin.html.twig" %}

<h1 class="text-center h1">Les différents thèmes</h1>

<div class="table-responsive d-flex justify-content-center">
    <table class="table table-bordered border-primary w-75 text-center">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Modifier</th>
            </tr>
        </thead>
        <tbody>
            {% for elt in theme %}
            <tr>
                <td><strong>{{ elt.nom }}</strong></td>
                <td>{{ elt.description }}</td>
                <td>
                    <a href="{{ path('theme_edit', {'id': elt.id}) }}" class="bg-primary rounded btnCustom">Modifier</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

<div class="text-center">
    <p><a class="btn btn-lg btn-success" href="{{ path('theme_new') }}">Ajouter un thème</a></p>
    <p><a class="btn btn-lg btn-danger" href="{{ path('admin_accueil') }}">Retour</a></p>
</div>


{% endblock %}