{% extends 'base.html.twig' %}

{% block title %}Rajouter un thème{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href={{ asset("css/admin/admin.css") }}>
{% endblock %}

{% block body %}
{% include "include/_navAdmin.html.twig" %}

<h1 class="text-center h1">Créer un nouveau thème</h1>

<div class="container">

    <div class="row center">
        <div class="col-sm-8 col-md-8 col-lg-9 m-2 text-center bg-white">

            {{ form_start(form) }}
            <div class="form-group mb-2">
                <label for="titre" class="col-sm-2 col-form-label">Titre :</label>
                {{ form_widget(form.nom, {'attr': {"class" : "form-control form-control-sm"}}) }}
                {{ form_errors(form.nom) }}
            </div>
            <div class="form-group mb-2">
                <label for="msg">Description :</label>
                {{form_widget(form.description, {'attr': {"class" : "form-control form-control-sm"}})}}
                {{ form_errors(form.description) }}
            </div>
            <button class="btn btn-lg btn-success m-2">{{ button_label|default('Créer') }}</button>

            {{ form_end(form) }}

        </div>
    </div>
</div>
<div class="text-center m-3">
    <p><a class="btn btn-lg btn-danger" href="{{ path('theme_index') }}">Retour sur la page thème</a></p>

</div>

{% endblock %}