<footer class="footer mt-auto py-3 pied-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="text-center pied-bg">
          <span class="text-muted">&copy; Tous droits réservés 2021</span>
        </div>
      </div>
    </div>
  </div>
</footer>