<nav class="navbar navbar-expand-lg navbar-light mb-2">
  <div class="container-fluid">
    <img src="{{asset("images/logo_small.png")}}" width='200' alt="logo">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse m-3" id="navbarText">
      <div class='menuBtn'>
        <ul class="blockNav">
      
            <li class="blockLi">
              <a class="lien" href="{{path("admin_accueil")}}">Tableau de bord</a>
            </li>
            <li class="blockLi">
              <a class="lien2" href="{{ path("app_logout")}}">Déconnexion</a>
            </li>
          
        </ul>
      </div>
    </div>
      
    </div>
  </div>
</nav>

