<nav class="navbar navbar-expand-lg navbar-light d-flex">
  <div class="container-fluid align-items-center">
    <img class="mr-1" src="{{asset("images/logo_small.png")}}" width='200' alt="logo">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item">
          <a id='color' class="nav-link active" aria-current="page" href="{{path("accueil")}}">Accueil</a>
        </li>
        
        <li class="nav-item dropdown">
          <a id='color4' class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Conférences classées par thème
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% for theme in themes %}
            <li><a class="dropdown-item" href="{{path('conference_theme', { nom: theme.nom })}}">{{theme.nom}}</a></li>
          {% endfor %}            
            
          </ul>
        </li>
        <li class="nav-item">
          <a id='color2' class="nav-link" href="{{ path("contact")}}">Contact</a>
        </li>
        <li class="nav-item">
          <a id='color3' class="nav-link" href="{{ path("page_a_propos")}}">À propos</a>
        </li>
        </ul>
        {% if(is_granted('ROLE_USER') or is_granted('ROLE_ADMIN')) == false %}
            <div class='menuBtn'>
              <ul class="blockNav">
      
                <li class="blockLi">
                  <a class="lien" href="{{ path("app_login")}}">Connexion</a>
                </li>
                <li class="blockLi">
                  <a class="lien2" href="{{ path("app_register")}}">Inscription</a>
                </li>
          
              </ul>
            </div>

            {% else %}

            <div class='menuBtn'>
              <ul class="blockNav">
      
                <li class="blockLi">
                  <a class="lien3" href="{{ path("profil_index")}}">Votre compte</a>
                </li>
                <li class="blockLi">
                  <a class="lien4" href="{{ path("app_logout")}}">Déconnexion</a>
                </li>
          
              </ul>
            </div>
            
        {% endif %}
      

    </div>
  </div>
</nav>


            