<form method="post" action="{{ path('supprimer_conference', {'id': conference.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ conference.id) }}">
    <button class="btn bg-danger text-white">Supprimer la conférence</button>
</form>
