{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href={{ asset("css/profil/profil.css") }}>
{% endblock %}


{% block body %}

{% include "include/_navProfil.html.twig" %}

{% for message in app.flashes('message') %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>{{ message }}</strong>  
</div>
{% endfor %}
{% for message in app.flashes('msg') %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>{{ message }}</strong>  
</div>
{% endfor %}

<h1 class="text-center h1">Tableau de bord conférencier</h1>

<div class="container">



    <div class="mt-3 text-center">
        <strong class="h4">Bonjour, {{ app.user.conferencier.nom }} {{ app.user.conferencier.prenom }}</strong>
    </div>

    <div class="d-flex flex-column mt-4">
      
        <div class="d-flex justify-content-center mt-4"><a href="{{path("profil_conferences")}}" class="btn btn-lg btn-warning">Voir vos conférences</a>
        </div>
        <div class="d-flex justify-content-center mt-4"><a href="{{path("creer_conference")}}" class="btn btn-lg btn-warning">Créer une conférence</a>
        </div>
        <div class="d-flex justify-content-center mt-4"><a href="{{path("modifier_vos_informations")}}" class="btn btn-lg btn-warning">Modifier vos informations de connexion</a>
        </div>
        <div class="d-flex justify-content-center mt-4"><a href="{{path("profil_conferencier_index")}}" class="btn btn-lg btn-warning">Modifier vos informations personnelles</a>
        </div>        
      </div>
    </div>

    <p class="d-flex justify-content-center mt-4" ><a href="{{path("app_logout")}}" class="btn btn-lg btn-danger">Déconnexion</a></p>

</div>
{% endblock %}