{% extends 'base.html.twig' %}

{% block title %}Modifier une Conférence{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href={{ asset("css/profil/profil.css") }}>
{% endblock %}

{% block body %}
{% include "include/_navProfil.html.twig" %}

    <h1 class="text-center h1">Modifier une conférences</h1>

    {{ include('profil/_form.html.twig', {'button_label': 'Modifier'}) }}


    <div class="text-center">
    {{ include('profil/_delete_form.html.twig') }}
    
    <a href="{{ path('profil_conferences') }}" class="btn btn-lg btn-dark m-2">Retour à la liste</a>

    </div>
{% endblock %}
