{% extends 'base.html.twig' %}

{% block title %}Conférences index{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href={{ asset("css/profil/profil.css") }}>
{% endblock %}

{% block body %}
{% include "include/_navProfil.html.twig" %}
    <h1 class="text-center h1">Conférences de {{ app.user.conferencier.nom }} {{ app.user.conferencier.prenom }}</h1>

<div class="table-responsive d-flex justify-content-center">
    <table class="table table-bordered border-primary w-75 text-center">
    
        <thead>
            <tr>
                <th>Titre</th>                
                <th>Image</th>
                <th class="cacher">Date et heure</th>
                <th>Voir plus</th>
                <th>Modifier</th>
            </tr>
        </thead>
        <tbody>
        {% for conference in conferences %}
            <tr>
                <td>{{ conference.titre }}</td>                
                <td><img src="{{ asset(conference.image) }}" class="img-fluid" width="180"alt="affiche de la conférence"></td>
                <td class="cacher">{{ conference.dateHeure ? conference.dateHeure|date('d-m-Y H:i:s') : '' }}</td>
                <td>
                    <a class="bg-primary rounded btnCustom" href="{{ path('montrer_conference', {'id': conference.id}) }}">Détail</a>
                </td>
                <td>
                    <a class="bg-dark rounded btnCustom" href="{{ path('modifier_conference', {'id': conference.id}) }}">Modifier</a>
                </td>
                
                
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="text-center">
    <a href="{{ path('creer_conference') }}" class="btn btn-lg btn-success m-1">Créer une conférence</a>
    <a href="{{path("profil_index")}}" class="btn btn-lg btn-danger m-1">Retour au tableau de bord</a>
</div>

{% endblock %}
