{% extends 'base.html.twig' %}

{% block title %}Nouvelle Conférence{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href={{ asset("css/profil/profil.css") }}>
{% endblock %}

{% block body %}
{% include "include/_navProfil.html.twig" %}

    <h1 class="text-center h1">Créer une Conférence</h1>

    {{ include('profil/_form.html.twig') }}

    <div class="text-center">
        <a href="{{ path('profil_conferences') }}" class="btn btn-lg btn-danger m-2">Retour à la liste</a>
    </div>
    
{% endblock %}
