{% extends 'base.html.twig' %}

{% block title %}Modification des informations de connexion{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href={{ asset("css/profil/profil.css") }}>
{% endblock %}

{% block body %}
{% include "include/_navProfil.html.twig" %}

<h1 class="text-center h1">Modification des informations de connexion</h1>

<div class="container">
    <div class="row bg-white rounded m-2" id="formPlace">
        <div class="col-sm-6 col-md-6 col-lg-8">

            {{ form_start(form) }}
            <div class="form-group">
                <label class="custom-control-label" for="email">Votre email :</label>
                {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.email) }}
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-2 col-form-label">Mot de passe :</label>
                {{ form_widget(form.plainPassword.first, {
                'attr': {'class': 'form-control'}
                }) }}
                {{ form_errors(form.plainPassword.first) }}
            </div>
            <div class="form-group">
                <label class="custom-control-label" for="">Confirmez votre mot de passe :</label>
                {{ form_widget(form.plainPassword.second, {
                'attr': {'class': 'form-control'}
                }) }}
                {{ form_errors(form.plainPassword.second) }}
            </div>
            <div class="text-center m-2">
                <button type="submit" class="btn btn-primary">Modifier</button>
            </div>
            {{ form_end(form) }}

        </div>
    </div>
</div>

<div class="text-center">
    <a href="{{path("profil_index")}}" class="btn btn-lg btn-danger">Retour au tableau de bord</a>
</div>

{% endblock %}