{% extends 'base.html.twig' %}

{% block title %}Conferences{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href={{ asset("css/profil/profil.css") }}>
{% endblock %}


{% block body %}
{% include "include/_navProfil.html.twig" %}

    <h1 class="text-center h1">Conférence : {{ conference.titre }}</h1>

    <div class="container">

    <div class="row justify-content-center">
        <div class="col-sm-8 col-md-8 col-lg-9 text-center d-flex justify-content-center">

            <div class="card m-4 bg-light" style="width: 35rem;">

                <h4 class="text-center">Thème(s) : 
                {% for theme in conference.themesLiesConferences %}
                    -{{theme.nom}}
                {% endfor %}
                </h4>

                <img src="{{ asset(conference.image) }}" width="275" class="card-img-top"
                    alt="affiche de la conférence">
                <div class="card-body">
                    <h3 class="card-title">{{ conference.titre }}</h3>

                    <h5 id="description" class="text-center"> Descriptif </h5>
                    
                    <p class="card-text">{{ conference.description }}</p>
                    <p class="text-center text-primary font-weight-bold">Organisé à : {{ conference.conferenceLieeLieu.ville }} </p>
                    <p class="text-center text-primary font-weight-bold">Au : {{ conference.conferenceLieeLieu.nom }} </p>
                    <p class="text-center text-primary font-weight-bold">Adresse : {{ conference.conferenceLieeLieu.adresse }} </p>

                    <p class="card-text"><strong class="text-success">Date et heure : {{ conference.dateHeure ? conference.dateHeure|date('d-m-Y
                            H:i:s') : ''
                            }}</strong></p>

                <p class="text-center"><strong>Prix du ticket d'entée : {{ conference.prix }} €</strong></p>
                
                    
                </div>
            </div>

        </div>
    </div>
</div>

    <div class="d-flex justify-content-center align-items-center">
    <a href="{{ path('profil_conferences') }}" class="btn btn-lg btn-dark m-1">Retour à la liste</a>

    <a href="{{ path('modifier_conference', {'id': conference.id}) }}" class="btn btn-lg btn-warning m-1">Modifier</a>

    {{ include('profil/_delete_form.html.twig') }}

    </div>

{% endblock %}
