<form method="post" action="{{ path('modifier_conf_delete', {'id': conference.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ conference.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
