<div class="container">

    <div class="row center">
            <div class="col-sm-8 col-md-8 col-lg-9 m-2 bg-white text-center">

            <div class="alert alert-danger" role="alert">
                <strong>
                Attention ! Si vous modifiez la conférence d'un utilisateur, elle sera ratachée à votre compte et plus à celui du conférencier.
                </strong>
            </div>
            
        {{ form_start(form) }}

        <div class="form-group mb-2">
            <label for="titre" class="col-sm-2 col-form-label">Titre :</label>
            {{ form_widget(form.titre, {'attr': {"class" : "form-control form-control-sm"}}) }}
            {{ form_errors(form.titre) }}
        </div>
        <div class="form-group mb-2">
            <label for="msg">Description :</label>
            {{form_widget(form.description, {'attr': {"class" : "form-control form-control-sm"}})}}
            {{ form_errors(form.description) }}
        </div>
        <div class="form-group mb-2 custom-file">
            <label for="" class="custom-control-label">Image :</label>
            {{ form_widget(form.file) }}
        </div>
        <div class="form-group mb-2 date">
            <label for="date_heure" class="custom-control-label">Choisir la date et l'heure :</label>
            
            {{ form_widget(form.date_heure, {'attr': {"class" : "form-control d-flex flex-row m-1", "type": "datetime-local"}}) }}
            {{ form_errors(form.date_heure) }}
            
        </div>
        <div class="form-group mb-2">
            <label for="lieu" class="custom-control-label">Lieu :</label>
            {{ form_widget(form.conferenceLieeLieu, {'attr': {"class" : "form-select"}}) }}
            {{ form_errors(form.conferenceLieeLieu) }}
        </div>
        <div class="form-group  mb-2">
            <div class="d-flex flex-column">
            <label for="theme" class="custom-control-label">Thème :</label>                
            {{ form_widget(form.themesLiesConferences, {'attr': {"class" : "key custom-control-input"}}) }}                
            {{ form_errors(form.themesLiesConferences) }}                
            </div>
        </div>
        <div class="form-group mb-2">
            <div class="d-flex flex-column">
                <label for="prix" "custom-control-label">Prix :</label>
                {{ form_widget(form.prix, {'attr': {"class" : "form-control w-25 mx-auto"}}) }}
                {{ form_errors(form.prix) }}
            </div>
        </div>
        <div class="form-group mb-2">
            <div class="d-flex flex-column">
                <label for="user" "custom-control-label">Email de l'auteur:</label>
                {{ form_widget(form.conferenceLieAUsers, {'attr': {"class" : "form-control"}}) }}
                {{ form_errors(form.conferenceLieAUsers) }}
            </div>
        </div>
        <div class="text-center">
        <button class="btn btn-lg btn-success m-2">{{ button_label|default('Créer') }}</button>
        </div>
        {{ form_end(form) }}

        </div>
    </div>
    
</div>

