{% extends 'base.html.twig' %}

{% block title %}Modifier la Conférence{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href={{ asset("css/admin/admin.css") }}>
{% endblock %}

{% block body %}
{% include "include/_navAdmin.html.twig" %}

    <h1 class="text-center h1">Modifier la conférence</h1>

    {{ include('admin/modifier_conf/_form.html.twig', {'button_label': 'Modifier'}) }}

    

<div class='text-center'>  

    {{ include('admin/modifier_conf/_delete_form.html.twig') }}

    <a href="{{ path('modifier_conf_index') }}" class="btn btn-dark m-2">Retour</a>
</div>
{% endblock %}
