{% extends 'base.html.twig' %}

{% block title %}Conferences index{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href={{ asset("css/admin/admin.css") }}>
{% endblock %}

{% block body %}
{% include "include/_navAdmin.html.twig" %}
    <h1 class="text-center h1">Toutes les conférences du site</h1>

<div class="table-responsive-sm d-flex justify-content-center">
    <table class="table table-sm table-bordered border-primary w-75 text-center">
    
        <thead>
            <tr>
                <th scope='col'>Titre</th>                
                <th scope='col'>Image</th>
                <th class='cacher' scope='col'>Date Heure</th>
                <th scope='col'>Voir</th>
                <th scope='col'>Modifier</th>
            </tr>
        </thead>
        <tbody>
        {% for conference in conferences %}
            <tr scope="row">
                <td>{{ conference.titre }}</td>                
                <td><img src="{{ asset(conference.image) }}" class="img-fluid" width="180"alt="affiche de la conférence"></td>
                <td class="cacher">{{ conference.dateHeure ? conference.dateHeure|date('d-m-Y H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('modifier_conf_show', {'id': conference.id}) }}" class="bg-dark rounded btnCustom">Détail</a>                    
                </td>
                <td>
                    <a href="{{ path('modifier_conf_edit', {'id': conference.id}) }}" class="bg-primary rounded btnCustom">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="text-center">
    <p> <a href="{{path("admin_accueil")}}" class="btn btn-lg btn-danger">Retour sur le tableau de bord</a></p>
</div>
   
{% endblock %}
