{% extends 'base.html.twig' %}

{% block title %}Tableaux de bord{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href={{ asset("css/admin/admin.css") }}>
{% endblock %}

{% block body %}
{% include "include/_navAdmin.html.twig" %}

<div class="container">

    <h1 class="text-center h1">Tableau de bord administration</h1>

    <div class="mt-3 text-center">
        <strong class="h4">Bonjour, {{ app.user.conferencier.nom }} {{ app.user.conferencier.prenom }}</strong>
    </div>

    <div class="d-flex flex-column mt-4">

        <div class="d-flex justify-content-center mt-4">
        <a href="{{path("utilisateurs")}}" class="btn btn-lg btn-warning">Liste des conférenciers</a>
        </div>
        <div class="d-flex justify-content-center mt-4">
        <a href="{{path("lieu_index")}}" class="btn btn-lg btn-warning">Voir les Lieux</a>
        </div>
        <div class="d-flex justify-content-center mt-4">
        <a href="{{path("modifier_conf_index")}}" class="btn btn-lg btn-warning">Voir les conférences</a>
        </div>
        <div class="d-flex justify-content-center mt-4">
        <a href="{{path("theme_index")}}" class="btn btn-lg btn-warning">Voir les Thèmes</a>   
        </div>
    </div>

    <p class="d-flex justify-content-center mt-4"><a href="{{path("app_logout")}}" class="btn btn-lg btn-danger">Déconnexion</a></p>

</div>
{% endblock %}
