<form method="post" action="{{ path('supprimer_user', {'id': user.id}) }}" onsubmit="return confirm('Etes-vous sûr de supprimer ce compte?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn btn-danger btn-block">Supprimer</button>    
</form>


