{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href={{ asset("css/admin/admin.css") }}>
{% endblock %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
{% include "include/_navAdmin.html.twig" %}

    <h1 class="text-center h1">Liste des utilisateurs</h1>

<div class="table-responsive-sm d-flex justify-content-center">
    <table class="table table-sm table-bordered border-primary w-75 text-center">
        <thead>           
            <th scope="col">Email</th>
            <th scope="col">Rôles</th>
            <th scope="col">Actions</th>
        </thead>
        <tbody>
        
            {# On boucle sur les utilisateurs #}
            {% for user in users %}
                
                    {% if user.email != "serge.dupont@gmail.com" %}

                    <tr scope="row">                        
                        <td>{{ user.email }}</td>
                        <td>
                        {% for role in user.roles %}
                            {% if role == "ROLE_USER" %}
                                Utilisateur                     
                            {% endif %}
                        {% endfor %}
                        </td>
                        <td>{{ include('admin/utilisateurs/_delete_form.html.twig') }}</td>
                    </tr>

                    {% endif %}
                

            
                
            {% endfor %}

        

        <tbody>
    </table>
</div>

<div class="text-center">
    <p><a href="{{path("admin_accueil")}}" class="btn btn-lg btn-dark">Retour</a></p>
</div>

{% endblock %}