{% extends 'base.html.twig' %}

{% block title %}Page à propos{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/visiteur/accueil.css')}}">   
{% endblock %}

{% block body %}

{% include "include/_navbar.html.twig" %}

{% for message in app.flashes('success') %}
<div class="alert alert-success" role="alert">{{ message }}</div>
{% endfor %}

<main>
    <div class="container">
        <div class="row center">
            <div class="col-sm-8 col-md-8 col-lg-9 mt-3 bg-light">
                <h1 class="h1 text-center">À propos</h1>


                <div class="text-center mt-4">
                    <p>Ce site est un exemple pour un examen de fin d'étude. Cette application n'a pas pour but d'être
                        développée dans un cadre réel. L'objectif de cette application est de permettre àn des visiteurs
                        de
                        découvrir les différentes conférences proposées sur le site et de se renseigner sur les
                        événements.
                        <strong>Toutes les informations sur ce site sont fictives.</strong>
                    </p>

                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}