{% extends 'base.html.twig' %}

{% block title %}Page contact{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/visiteur/accueil.css')}}">   

{% endblock %}

{% block body %}

{% include "include/_navbar.html.twig" %}


<div class="page_form">

    {% for message in app.flashes('message') %}
    <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}

    <h1 class="h1 text-center">Contact</h1>


    <div class="container">

        <div class="row center">
            <div class="col-sm-8 col-md-8 col-lg-9 text-center">


                {{ form_start(form, { 'attr': {'class': 'form-inline justify-content-center'} }) }}

                <div class="form-group">
                    <label for="nom">Votre nom :</label>
                    {{form_widget(form.nom)}}
                </div>

                <div class="form-group">
                    <label for="sujet">Sujet :</label>
                    {{form_widget(form.sujet)}}
                </div>

                <div class="form-group">
                    <label for="email">Email :</label>
                    {{form_widget(form.email)}}
                </div>

                <div class="form-group">
                    <label for="msg">Message :</label>
                    {{form_widget(form.message)}}
                </div>

                <button class="btn btn-primary m-2">Envoyer</button>


                {{ form_end(form)}}



            </div>
        </div>
    </div>



</div>

{% endblock %}