{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{asset('css/visiteur/accueil.css')}}">   
  
{% endblock %}
  

{% block body %}

{% include "include/_navbar.html.twig" %}
{% for message in app.flashes('success') %}
<div class="alert alert-success" role="alert">{{ message }}</div>
{% endfor %}



<h1 id="modif" class='text-center h1'>Les dernières conférences</h1>
<div class="container">
  <div class="row">
    <div class="d-flex flex-wrap justify-content-center">

      {% for conference in conferences %}


      <div class="card m-2 bg-light" style="width: 16rem;">
        <img src="{{ asset(conference.image) }}" height="175" class="card-img-top" alt="affiche de la conférence">

        <div class="card-body">
          <h4 class="card-title text-secondary">{{ conference.titre }}</h4>
          <p class="card-text"><strong>Date et heure : {{ conference.dateHeure ? conference.dateHeure|date('d-m-Y H:i:s') : ''
              }}</strong></p>

          <p class="text-primary font-weight-bold">Ville : {{ conference.conferenceLieeLieu.ville }} </p>

          <div class="mt-2">
          <a href="{{ path("conference_read", { id: conference.id }) }}" class="btn btn-primary">En savoir plus ...</a>
          </div>
        </div>
      </div>


      {% endfor %}
    </div>
  </div>
</div>



{% include "include/_footer.html.twig" %}
{% endblock %}