{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/visiteur/accueil.css')}}">
{% endblock %}

{% block body %}
{% include "include/_navbar.html.twig" %}


<div class="container">

    <div class="row center">
        <div class="col-sm-8 col-md-8 col-lg-9 text-center center">

            <div class="card m-4 bg-light" style="width: 28rem;">

                <h4 class="text-center">Thème(s) : 
                {% for theme in conference.themesLiesConferences %}
                    {{theme.nom}}
                {% endfor %}
                </h4>                

                <img src="{{ asset(conference.image) }}" width="275" class="card-img-top"
                    alt="affiche de la conférence">
                <div class="card-body">
                    <h3 id="colorTitle" class="card-title">{{ conference.titre }}</h3>

                    <h5 id="description" class="text-center"> Descriptif </h5>
                    
                    <p class="card-text">{{ conference.description }}</p>
                    <p class="text-center text-warning font-weight-bold">Présenté par : <strong>{{conference.conferenceLieAUsers.conferencier.nom}} {{conference.conferenceLieAUsers.conferencier.prenom}}</strong></p>
                    <p class="text-center text-primary font-weight-bold">Organisé à : {{ conference.conferenceLieeLieu.ville }} </p>
                    <p class="text-center text-primary font-weight-bold">Au : {{ conference.conferenceLieeLieu.nom }} </p>
                    <p class="text-center text-primary font-weight-bold">Adresse : {{ conference.conferenceLieeLieu.adresse }} </p>

                    <p class="card-text"><strong class="text-success">Date et heure : {{ conference.dateHeure ? conference.dateHeure|date('d-m-Y
                            H:i:s') : ''
                            }}</strong></p>

                <p class="text-center"><strong>Prix du ticket d'entée : {{ conference.prix }} €</strong></p>
                <p class="text-center"><a href="{{ path("accueil") }}" class="btn btn-danger">Retour</a></p>
                    
                </div>
            </div>

        </div>
    </div>
</div>

{% include "include/_footer.html.twig" %}
{% endblock %}