{% extends 'base.html.twig' %}

{% block title %}Conférence par thème{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/visiteur/accueil.css')}}">
{% endblock %}


{% block body %}

{% include "include/_navbar.html.twig" %}

<div class="container">
    <div class="row">
    {% for theme in conf %}
            <div>

            <h1 class='h1 text-center'><u>Thème : {{ theme.nom }}</u></h1>

            <p class="text-center text-dark"><strong>{{ theme.description }}</strong></p>
            </div>
    {% endfor %}

        <div class="d-flex flex-wrap justify-content-center">
        
        

            {% for elt in conf %}

            {% for elt in elt.themeLieConference %}

            
            
            <div class="card m-2 bg-light" style="width: 16rem;">
                <img src="{{ asset(elt.image) }}" height="175" class="card-img-top"
                    alt="affiche de la conférence">

                <div class="card-body">
                    <h4 id="colorTitle" class="card-title">{{ elt.titre }}</h4>
                    <p class="card-text"><strong>Date et heure : {{ elt.dateHeure ?
                            elt.dateHeure|date('d-m-Y H:i:s') : ''
                            }}</strong></p>

                    <p class="text-primary font-weight-bold">Ville : {{ elt.conferenceLieeLieu.ville }} </p>

                    <div class="mt-2">
                        <a href="{{ path("conference_read", { id: elt.id }) }}" class="btn btn-primary">En
                            savoir plus ...</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>



{% endblock %}