<div class="container">

    <div class="row center">
        <div class="col-sm-8 col-md-8 col-lg-9 m-2 text-center bg-white">
            {{ form_start(form) }}

            <div class="form-group mb-2">
                <label for="nom" class="col-sm-2 col-form-label">Nom :</label>
                {{ form_widget(form.nom, {'attr': {"class" : "form-control form-control-sm"}}) }}
                {{ form_errors(form.nom) }}
            </div>
            <div class="form-group mb-2">
                <label for="nom" class="col-sm-2 col-form-label">Adresse :</label>
                {{ form_widget(form.adresse, {'attr': {"class" : "form-control form-control-sm"}}) }}
                {{ form_errors(form.adresse) }}
            </div>
            <div class="form-group mb-2">
                <label for="nom" class="col-sm-2 col-form-label">Ville :</label>
                {{ form_widget(form.ville, {'attr': {"class" : "form-control form-control-sm"}}) }}
                {{ form_errors(form.ville) }}
            </div>
            <div class="form-group mb-2">
                <label for="nom" class="col-sm-2 col-form-label">Code Postal :</label>
                {{ form_widget(form.code_postal, {'attr': {"class" : "form-control form-control-sm"}}) }}
                {{ form_errors(form.code_postal) }}
            </div>
            <div class='text-center'>
                <button class="btn btn-lg btn-success m-2">{{ button_label|default('Enregistrer') }}</button>
            </div>

            {{ form_end(form) }}

        </div>
    </div>
</div>