{% extends 'base.html.twig' %}

{% block title %}Edit Lieu{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href={{ asset("css/admin/admin.css") }}>
{% endblock %}

{% block body %}
{% include "include/_navAdmin.html.twig" %}

    <h1 class="text-center h1">Modifier</h1>

    {{ include('admin/lieu/_form.html.twig', {'button_label': 'Modifier'}) }}
<div class="text-center">

    {{ include('admin/lieu/_delete_form.html.twig') }}

    <a href="{{ path('lieu_index') }}" class="btn btn-dark m-2">Retour à la liste</a>
</div>
{% endblock %}
