{% extends 'base.html.twig' %}

{% block title %}Liste des lieux{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href={{ asset("css/admin/admin.css") }}>
{% endblock %}

{% block body %}
{% include "include/_navAdmin.html.twig" %}

<div class="container">

    <h1 class="text-center h1">Liste des lieux</h1>

<div class="table-responsive d-flex justify-content-center">
    <table class="table table-bordered border-primary w-75 text-center">

        <thead>
            <tr>
                <th>Nom</th>
                <th class="cacher">Ville</th>
                <th>Voir</th>
                <th>Modifier</th>
            </tr>
        </thead>
        <tbody>
        {% for lieu in lieus %}
            <tr>
                <td>{{ lieu.nom }}</td>
                <td class="cacher">{{ lieu.ville }}</td>
                <td>
                    <a href="{{ path('lieu_show', {'id': lieu.id}) }}" class="bg-dark rounded btnCustom p-1">Détail</a>                   
                </td>
                <td>                    
                    <a href="{{ path('lieu_edit', {'id': lieu.id}) }}" class="bg-primary rounded btnCustom p-1">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="text-center">
    <a href="{{ path('lieu_new') }}" class="btn btn-success m-2">Ajouter un lieu</a>
    <p><a href="{{path("admin_accueil")}}" class="btn btn-lg btn-danger">Retour</a></p>
</div>

{% endblock %}
