{% extends 'base.html.twig' %}

{% block title %}Rajouter un Lieu{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href={{ asset("css/admin/admin.css") }}>
{% endblock %}


{% block body %}
{% include "include/_navAdmin.html.twig" %}

<div>
    <h1 class="text-center h1">Ajouter un lieu</h1>

    {{ include('admin/lieu/_form.html.twig') }}

    <div class='text-center'>
        <a href="{{ path('lieu_index') }}" class="btn btn-dark">Retour à la liste</a>
    </div>
</div>
{% endblock %}