{% extends 'base.html.twig' %}

{% block title %}Lieu{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href={{ asset("css/admin/admin.css") }}>
{% endblock %}

{% block body %}
{% include "include/_navAdmin.html.twig" %}

<div class="container">
    <h1 class="text-center h1">Lieu</h1>

    <div class="table-responsive d-flex justify-content-center">
        <table class="table table-bordered border-primary w-75 text-center">

            <tbody>

                <tr>
                    <th>Nom</th>
                    <td>{{ lieu.nom }}</td>
                </tr>
                <tr>
                    <th>Adresse</th>
                    <td>{{ lieu.adresse }}</td>
                </tr>
                <tr>
                    <th>Ville</th>
                    <td>{{ lieu.ville }}</td>
                </tr>
                <tr>
                    <th>Code_postal</th>
                    <td>{{ lieu.codePostal }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class='text-center'>
        <a href="{{ path('lieu_index') }}" class="btn btn-dark m-2">Retour à la liste</a>

        <a href="{{ path('lieu_edit', {'id': lieu.id}) }}" class="btn btn-warning">Modifier</a>

        {{ include('admin/lieu/_delete_form.html.twig') }}

    </div>
</div>
{% endblock %}