.navbar {
  background: rgb(255, 239, 166);
}
.footer {
  background: rgb(255, 239, 166);
  bottom: 0;
  width: 100%;
  height: 60px;
}
.pied-bg {
  background-color: rgb(255, 239, 166);
}
.center {
  display: flex;
  justify-content: center;
}
.h1 {
  color: orangered;
}

/* partie navbar */

#color {
  color: black;
  font-weight: 900;
  margin-left: 20px;
  font-size: 1.5em;
}
#color:hover {
  color: orangered;
}
#color2 {
  color: black;
  font-weight: 900;
  font-size: 1.5em;
}
#color2:hover {
  color: orangered;
}
#color3 {
  color: black;
  font-weight: 900;
  font-size: 1.5em;
}
#color3:hover {
  color: orangered;
}
#color4 {
  color: rgb(116, 115, 115);
  font-weight: 900;
  font-size: 1.5em;
}
#color4:hover {
  color: orangered;
}

/* fin navbar */

body {
  font-family: Georgia;
  color: rgb(182, 34, 34);
}
#btnIncription {
  background-color: orangered;
}
#description {
  text-decoration: underline;
}
#h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}
#colorTitle {
  color: orangered;
}
body {
  background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffffff, #ece9e6);
}
/* à propos */
main {
  height: 100%;
  width: 100%;
}

/* Les boutons li */

.menuBtn {
  display: flex;
  margin-top: 15px;
}
.blockNav {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.blockLi {
  display: inline;
  margin-bottom: 10px;
}
.lien {
  color: white;
  background-color: rgb(62, 108, 233);
  text-decoration: none;
  padding: 3px;
  border-radius: 2px;
  width: 40%;
}
.lien2 {
  color: white;
  background-color: rgb(182, 34, 34);
  text-decoration: none;
  border-radius: 2px;
  padding: 3px;
}
.lien4 {
  color: white;
  background-color: rgb(182, 34, 34);
  text-decoration: none;
  padding: 4.2px;
  border-radius: 2px;
}
.lien:hover {
  color: orangered;
}
.lien2:hover {
  color: black;
}
.lien3 {
  color: white;
  background-color: rgb(221, 126, 1);
  text-decoration: none;
  border-radius: 2px;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.lien:hover {
  color: black;
}
@media screen and (max-width: 900px) {
  .menuBtn {
    display: block;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 15px;
  }
  .blockLi {
    display: inline-block;
  }
  #color {
    color: black;
    font-weight: 900;
    margin-left: 0px;
    font-size: 18px;
  }
  #color2 {
    color: black;
    font-weight: 900;
    font-size: 18px;
  }
  #color3 {
    color: black;
    font-weight: 900;
    font-size: 18px;
  }
  #color4 {
    color: black;
    font-weight: 900;
    font-size: 18px;
  }
}

/* navbar en 1024 */

@media screen and (max-width: 1100px) {
  .menuBtn {
    display: block;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 15px;
  }
  .blockLi {
    display: inline-block;
  }
  #color {
    color: black;
    font-weight: 900;
    margin-left: 0px;
    font-size: 18px;
  }
  #color2 {
    color: black;
    font-weight: 900;
    font-size: 18px;
  }
  #color3 {
    color: black;
    font-weight: 900;
    font-size: 18px;
  }
  #color4 {
    color: black;
    font-weight: 900;
    font-size: 18px;
  }
}

/* Partie mot de passe oublié */

.recentrer {
  display: flex;
  justify-content: center;
}

/* Ce fichier est utilisé pour toutes les parties visibles du site par les simple utilisateurs */
