body {
  background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.date {
  width: 200px;
  border: 0px none transparent;
}
#center {
  display: flex;
  justify-content: center;
}
/* formulaire inscription */
#formRegister {
  display: flex;
  justify-content: center;
}
