body {
  background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffffff, #ece9e6);
}
.h1 {
  color: orangered;
}
.navbar {
  background: rgb(255, 239, 166);
}

/* Partie infos conférencier */

.tailleBg {
  width: 60%;
}
table {
  border: 1px solid green;
}
.btnCustom {
  text-decoration: none;
  padding: 2px;
  color: white;
}
.btnCustom:hover {
  color: rgb(253, 0, 34);
}
#formPlace {
  display: flex;
  justify-content: center;
  background: royalblue;
  border-radius: 5px;
}

/* Partie show conférence  */
.center {
  display: flex;
  justify-content: center;
}

/* Partie formulaire profil */

#conferences_description {
  height: 400px;
}
#conferences_themesLiesConferences_6 {
  margin-left: 10px;
  margin-right: 5px;
}
#conferences_themesLiesConferences_1 {
  margin-left: 10px;
  margin-right: 5px;
}
#conferences_themesLiesConferences_2 {
  margin-left: 10px;
  margin-right: 5px;
}
#conferences_themesLiesConferences_3 {
  margin-left: 10px;
  margin-right: 5px;
}
#conferences_themesLiesConferences_4 {
  margin-left: 10px;
  margin-right: 5px;
}
#conferences_themesLiesConferences_5 {
  margin-left: 10px;
  margin-right: 5px;
}
#conferences_date_heure_time {
  margin-left: 10px;
}
#conferences_date_heure {
  display: flex;
  justify-content: center;
}
label {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

/* Les boutons li */

.menuBtn {
  display: flex;
  margin-top: 20px;
}
.blockNav {
  display: flex;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.blockLi {
  margin-right: 5px;
  display: inline;
}
.lien {
  color: white;
  background-color: rgb(62, 108, 233);
  text-decoration: none;
  padding: 3px;
  border-radius: 2px;
  width: 40%;
}
.lien2 {
  color: white;
  background-color: rgb(182, 34, 34);
  text-decoration: none;
  padding: 3px;
  border-radius: 2px;
}
.lien:hover {
  color: orangered;
}
.lien2:hover {
  color: black;
}
@media screen and (max-width: 900px) {
  .menuBtn {
    display: block;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 15px;
  }
  .blockLi {
    display: inline-block;
  }
  .cacher {
    display: none;
  }
}
