{% extends 'base.html.twig' %}

{% block body %}

<div class="d-flex flex-column justify-content-center">
<div class="d-flex justify-content-center">
    <h1 class="text-danger">Erreur</h1>
</div>
<div class="d-flex flex-column justify-content-center">
    <p class="text-center">
        <strong>Erreur du serveur.</strong>
    </p>
    <p class="text-center">
    <img src="{{asset("images/err500.png")}}" class="img-fluid" width="250" alt="message erreur">
    </p>
    <p class="text-center">
        <a href="{{ path('accueil') }}" class="btn btn-warning">Retour à la page d'accueil</a>
    </p>
</div>
</div>
{% endblock %}