{% extends 'base.html.twig' %}

{% block body %}

<div class="d-flex flex-column justify-content-center">
    <div class="d-flex justify-content-center">
        <h1 class="text-danger">Accès refusé</h1>
    </div>
    <div class="d-flex flex-column justify-content-center">
        <p class='text-center'>
            <strong>Vous n'êtes pas autorisé à accéder à la page.</strong>
        </p>
        <p class="text-center">
            <img src="{{asset("images/err403.jpg")}}" class="img-fluid" width="350" alt="message erreur">
        </p>
        <p class="text-center">
            <a href="{{ path('accueil') }}" class="btn btn-warning"> Retour à la page d'accueil</a>
        </p>

    </div>
</div>

{% endblock %}