{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex flex-column justify-content-center">
<div class="d-flex justify-content-center">
    <h1 class="text-danger">Page non trouvée</h1>
</div>
<div class="d-flex flex-column justify-content-center">
    <p class='text-center'>
    <strong>La page demandée n'a pas pu être localisée.</strong>
    </p>
    <p class="text-center">
    <img src="{{asset("images/error404.png")}}" class="img-fluid" width="350" alt="message erreur">
    </p>
    <p class="text-center">
        Vérifiez que l'URL n'est pas mal orthographiée sinon :
    </p>
    <p class="text-center">
        <a href="{{ path('accueil') }}" class="btn btn-warning"> retournez à la page d'accueil</a>
    </p>

</div>
</div>
{% endblock %}